body{
  font-family: 'Dusha';
  font-size: 18px;
  background-color: $grey-background;
}

#title-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  #cup-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    h2{
      color: $red-font;
    }
  }
  #title-button-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    a{
      display: block;
      background-color: $blue-button;
      color: $white;
      text-transform: uppercase;
      width: 33%;
      padding: 15px;
      border-radius: 10px;
      border-style: none;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      transition: all 0.5s;
      cursor: pointer;
    }
  }
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  div{
    width:33%;
    img{
      max-width: 100%;
    }
  }
}

.column{
  display: flex;
  flex-direction:column;

  header{
    display:flex;
    justify-content: space-around;
    height: 10vh;
    margin-bottom: 5%;
  }
  div{
    position:relative;
    display: flex;
    justify-content: space-between;
    #score-container-1{
      left: 8%;
      align-items: center;
    }
    #score-container-2{
      right: 8%;
      align-items: center;
    }
  }
}

.digital-background{
  font-size:8rem;
  background-color: $black-font;
  color: $digital-green;
  font-family: $digital-font;
  align-items:center;
  justify-content: center;
  height:200px;
  width:200px;
}

.digital-clock{
  align-items:center;
  padding:0 50px;
  font-size: 2rem;
  background-color: $black-font;
  color: $digital-green;
  font-family: $digital-font;
}
